<!doctype html>
<head>
    <title>登陆login1</title>
    <meta charset="utf-8">
    <meta name="author" content="m.womai.com">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta content="telephone=no" name="format-detection" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="../../css/s-base.css" />
    <script type="text/javascript" src="../../js/rem.min.js" dpr="1"></script>
</head>
<body class="login">
    <header>
        <img src="../../images/login_03.png" class="mt30">
    </header>
    <div>
        <form action="/j_spring_security_check" method="post">
            <input placeholder="请输入用户名" name="userName">
            <input type="password" class="mt20" placeholder="请输入密码" name="passWord">
            <input type="submit">
        </form>
    </div>

    <footer>
        <img src="../../images/login_07.png">
    </footer>
</body>
</html>